

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 100px;
    height: 100px;
    background-color: #000199;
     }
    
     @media (max-width: 500px){
        div{
            background: #199900;
        }
     }